:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --basic-headers-color: #212121;
  --basic-content-color: #757575;
  --backgrouns-secondary-color: #2f303a;
  --primary-background-color: #e5e5e5;
  --third-background-color: #f5f4fa;
}

body {
  font-family: var(--main-font);
  color: #757575;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/* ============= COMPONENTS ============= */
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: #2196f3;
}

.logo-span {
  color: #212121;
}

.logo-footer {
  color: #ffffff;
}

.modal-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  cursor: pointer;

  color: #212121;
}

.modal-button:hover,
.modal-button:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

.about-us-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: #212121;
}

/* ============= END COMPONENTS ============= */

/* ============= HEADER ============= */

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.active-link {
  color: #2196f3;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}

.link-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.link-address-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.link-address:hover,
.link-address:focus {
  color: #2196f3;
}

/* ============= END HEADER ============= */

/* ============= HERO ============= */

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.85;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  cursor: pointer;

  color: #ffffff;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero {
  background-color: var(--backgrouns-secondary-color);
}

/* ============= END HERO ============= */

/* ============= ABOUT ============= */
.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: #212121;
}

.titles {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #212121;
}

.about {
  background: var(--primary-background-color);
}
/* ============= END ABOUT ============= */

/* ============= OUR TEAM ============= */

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;

  color: #212121;
}
.team {
  background: var(--third-background-color);
}

/* =============END OUR TEAM ============= */

/* =============FOOTER============= */
.footer {
  background-color: var(--backgrouns-secondary-color);
}

.footer-address {
  color: #ffffff;
}

/* =============END FOOTER ============= */
