body {
  font-family: "Roboto", sans-serif;
  color: #757575;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

/* ============= BATTONS ============= */

.modal-btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  /* identical to box height, or 187% */

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: #2196f3;
  cursor: pointer;

  color: #ffffff;
}

.modal-batton {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */

  text-align: center;
  cursor: pointer;

  color: #212121;
}

.modal-batton:hover,
.modal-batton:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* ============= END BATTONS ============= */
/* ============= TITLES ============= */
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  /* or 136% */

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  /*color: #ffffff;*/
}
.about-us-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;

  color: #212121;
}

.titles {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: #212121;
}

.our-team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  /* identical to box height */

  color: #212121;
}

.cards-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */

  letter-spacing: 0.06em;

  color: #212121;
}
/* ============= END TITLES ============= */
/* ============= HEADER ============= */

.navigation-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #212121;
}

.active-link {
  color: #2196f3;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  /* identical to box height */

  color: #2196f3;
}

.logo-span {
  color: #212121;
}

.navigation-link:hover,
.navigation-link:focus {
  color: #2196f3;
}

.link-address {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.link-address-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: #757575;
}

.link-address:hover,
.link-address:focus {
  color: #2196f3;
}

/* ============= END HEADER ============= */
